body{
    background-color: palegreen;
}
#player1arena{

    width:200px;
    height:200px;
    border: solid;
    border-width: .2px;
    border-color:black;
    margin:30px;
    background-color:peachpuff;
    color:black;
   
    
}
#player2arena{

    width:200px;
    height:200px;
    border: solid;
    border-width: .2px;
    border-color:black;
    margin:30px;
    background-color:peachpuff;
    color:black;
}
#score{

    width:200px;
    height:200px;
    border: solid;
    border-width: .2px;
    border-color:black;
    margin:30px;
    background-color:rgb(241, 151, 71);
    color:black;
}
#start,#player-name{
    margin:10px;
    align-items: center;
}
.jumbotron{
    margin-bottom:10px;
    padding:20px;
}
#start{
    color:plum;
    color:black;
}
#player-name{
    border-style:outset;
    border-color:grey;
    border-width:3px;
    background-color:peachpuff;
    color:black;
}
.btn .button-default .custom-btn{
    background-color: blueviolet;
    color:black;
}
#playerInfo{
    font-size:30px;
    text-align:center;
}